:focus-visible {
    outline: none;
}

@font-face {
    font-family: digital;
    src: url(fonts/retganon.ttf);
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: beige;
}

p {
    font-family: digital;
    font-size: x-large;
    text-align: center;
}

#calculator {
    width: 324px;
    height: 548px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #3c3940;
    border: outset;
    border-width: 10px;
    border-color: #4f4d51
}

#display {
    flex: 1;
    background-color: #2a2a29;
    border-style: solid;
    margin-top: 10px;
    font-family: digital;
    font-size: xxx-large;
    font-weight: 500;
    color: #0cc10c;
    border-color: #cf6422b8;
    padding: 8px;
    overflow-wrap: break-word;
}

#buttons {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#row {
    display: flex;
    justify-content: space-between;
}

#row-bottom {
    display: flex;
    justify-content: space-between;
}

#row-bottom .left-side {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#row-bottom .right-side {
    flex: 1;
    display: flex;
}

button {
    flex: 1;
    min-width: 60px;
    min-height: 60px;
    margin: 4px;
    background-color: lightgray;
    font-weight: bold;
    font-size: large;
}

#row-bottom {
    display: flex;
}

#row-bottom.left-side {
    display: flex;
    flex-direction: column;
}
